{{#each posts as |post|}}
<div class="card post-list">
  <div class="card-body">
    <h5 class="card-title text-center">Title: {{post.title}} Date Created: {{format_date post.date_created}}</h5>
  </div>
  <a href="#"><button class="btn btn-success" type="button">Update</button></a>
  <button class="btn btn-danger" type="button" data-id="{{id}}"> - DEL</button>
</div>
{{/each}}


<div class="d-grid gap-2">
  <a href=/newpost><button class="btn btn-primary" type="button"> + NEW </button></a>
</div>

<script src="/js/post.js"></script>