<form class="login-form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">EMAIL</label>
    <input type="email" class="form-control" id="input-email">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">PASSWORD</label>
    <input type="password" class="form-control" id="input-password">
  </div>
  <div>
    <p>If first time, <a href='/signup'>Signup!</a></p>
  </div>
  <button type="submit" class="btn btn-primary">SUBMIT</button>
</form>

<script src="./js/login.js"></script>