<div class="card">
    <div class="card-body">
        <form class="form post-form">
        <div class="mb-3">
            <label for="titleInput" class="form-label">Post Title</label>
            <input type="title" class="form-control" id="title-input" placeholder="Title">
        </div>
        <div class="mb-3">
            <label for="postarea" class="form-label">Post Info</label>
            <textarea class="form-control" id="post-input" rows="3" placeholder="Context"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">SUBMIT</button>
        </form>
    </div>
</div>

<script src="./js/post.js"></script>